{{ 'lta-customer-reviews.aio.min.css' | asset_url | stylesheet_tag }}
<script type="lazyload_js" data-src="{{ 'lta-customer-reviews.js' | asset_url }}"></script>

{%- style -%}
	.section-{{ section.id }}-padding {
	  padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
	  padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
	}

	@media screen and (min-width: 750px) {
	  .section-{{ section.id }}-padding {
	    padding-top: {{ section.settings.padding_top }}px;
	    padding-bottom: {{ section.settings.padding_bottom }}px;
	  }
	}
{%- endstyle -%}

<l-customer-reviews class="l-customer-reviews section-{{ section.id }}-padding color-{{ section.settings.color_scheme }} gradient">
	<div class="l-customer-reviews__container page-width">
		{% render 'AAA-lta-section-header', center: true %}
		<ul class="l-customer-reviews__list list-menu" data-carousel>
			{%- for block in section.blocks -%}
				<li class="l-customer-reviews__item center">
					<div class="l-customer-reviews__stars">★★★★★</div>
					{%- if block.settings.heading != blank -%}
						<div class="l-customer-reviews__title">{{ block.settings.heading }}</div>
					{%- endif -%}
					{%- if block.settings.content != blank -%}
						<div class="l-customer-reviews__content rte">{{ block.settings.content }}</div>
					{%- endif -%}
					{%- if block.settings.title != blank -%}
						<span class="l-customer-reviews__name">{{ block.settings.title }}</span>
					{%- endif -%}
				</li>
			{%- endfor -%}
		</ul>
	</div>
</l-customer-reviews>

{% schema %}
{
	"name": "LTA - Customer reviews",
	"class": "section",
	"tag": "section",
	"disabled_on": {
		"groups": ["header", "footer"]
	},
	"settings": [
		{
			"type": "color_scheme",
			"id": "color_scheme",
			"label": "t:sections.all.colors.label",
			"default": "scheme-1"
		},
		{
			"type": "image_picker",
			"id": "header_icon",
			"label": "Header icon"
		},
		{
			"type": "textarea",
			"id": "title",
			"default": "Multicolumn",
			"label": "t:sections.multicolumn.settings.title.label"
		},
		{
			"type": "select",
			"id": "heading_size",
			"options": [
				{
					"value": "h2",
					"label": "t:sections.all.heading_size.options__1.label"
				},
				{
					"value": "h1",
					"label": "t:sections.all.heading_size.options__2.label"
				},
				{
					"value": "h0",
					"label": "t:sections.all.heading_size.options__3.label"
				}
			],
			"default": "h1",
			"label": "t:sections.all.heading_size.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.padding.section_padding_heading"
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 100,
			"step": 4,
			"unit": "px",
			"label": "t:sections.all.padding.padding_top",
			"default": 36
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 100,
			"step": 4,
			"unit": "px",
			"label": "t:sections.all.padding.padding_bottom",
			"default": 36
		}
	],
	"blocks": [
		{
			"type": "review",
			"name": "t:sections.multicolumn.blocks.column.name",
			"settings": [
				{
					"type": "text",
					"id": "heading",
					"label": "Heading",
					"default": "Excellent Gifts"
				},
				{
					"type": "richtext",
					"id": "content",
					"label": "Content",
					"default": "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe ipsum ea nisi officia fugiat repellat pariatur, quam soluta ipsam totam.</p>"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Title",
					"default": "John Doe, United Kingdom"
				}
			]
		}
	],
	"presets": [
		{
			"name": "LTA - Customer reviews",
			"blocks": [
				{
					"type": "review"
				},
				{
					"type": "review"
				},
				{
					"type": "review"
				},
				{
					"type": "review"
				}
			]
		}
	]
}
{% endschema %}
